.img-fluid {
  height: 300px !important;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Giới hạn số dòng là 3 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
