<!-- Bestsaler Product Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="text-center mx-auto mb-5" style="max-width: 700px">
      <h1 class="display-4">Sản Phẩm Bán Chạy</h1>
      <p>
        Các sản phẩm bán chạy nhất của cửa hàng chúng tôi, đặt mua ngay nào!!!
      </p>
    </div>
    <div class="row g-4" *ngIf="products && products.length > 0">
      <div class="col-lg-6 col-xl-4" *ngFor="let pro of products.slice(0, 6)">
        <div class="p-4 rounded bg-light">
          <div class="row align-items-center">
            <a [routerLink]="['/product', pro.id]" class="cursor">
              <div class="col-6">
                <img
                  [src]="pro.image"
                  class="img-fluid rounded-circle w-100"
                  alt=""
                />
              </div>
              <div class="col-6">
                <p class="h5">{{ pro.name }}</p>
                <div class="d-flex my-3">
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4 class="mb-3">{{ pro.price | currency : " " }}</h4>
                <a
                  href="#"
                  class="btn border border-secondary rounded-pill px-3 text-primary"
                  ><i class="fa fa-shopping-bag me-2 text-primary"></i>Thêm</a
                >
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bestsaler Product End -->
