<div class="container-fluid py-10">
  <div class="container py-5">
    <h1 class="mb-4">Thanh Toán</h1>
    <form action="#" #checkoutForm="ngForm" novalidate>
      <!-- Thông tin chi tiết thanh toán ở đây -->

      <div class="row g-5">
        <div class="col-md-12 col-lg-6 col-xl-7">
          <div class="form-item">
            <label class="form-label my-3">Tên<sup>*</sup></label>
            <input
              type="text"
              class="form-control"
              name="firstName"
              [(ngModel)]="firstName"
              required
            />
            <div
              *ngIf="
                checkoutForm.controls['firstName']?.invalid &&
                checkoutForm.controls['firstName']?.touched
              "
              class="text-danger"
            >
              Không được để trống.
            </div>
          </div>

          <div class="form-item">
            <label class="form-label my-3">Địa chỉ <sup>*</sup></label>
            <input
              type="text"
              class="form-control"
              name="address"
              [(ngModel)]="address"
              required
            />
            <div
              *ngIf="
                checkoutForm.controls['address']?.invalid &&
                checkoutForm.controls['address']?.touched
              "
              class="text-danger"
            >
              Không được để trống.
            </div>
          </div>

          <div class="form-item">
            <label class="form-label my-3">Số điện thoại<sup>*</sup></label>
            <input
              type="tel"
              class="form-control"
              name="mobile"
              [(ngModel)]="mobile"
              required
              pattern="^[0-9]*$"
            />
            <div
              *ngIf="
                checkoutForm.controls['mobile']?.invalid &&
                checkoutForm.controls['mobile']?.touched
              "
              class="text-danger"
            >
              Không được để trống.
            </div>
          </div>
          <div class="form-item">
            <label class="form-label my-3">Email<sup>*</sup></label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="email"
              required
            />
            <div
              *ngIf="
                checkoutForm.controls['email']?.invalid &&
                checkoutForm.controls['email']?.touched
              "
              class="text-danger"
            >
              Không được để trống.
            </div>
          </div>

          <div class="form-item">
            <textarea
              name="text"
              class="form-control"
              spellcheck="false"
              cols="30"
              rows="11"
              placeholder="Ghi chú"
            ></textarea>
          </div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-5">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Sản Phẩm</th>
                  <th scope="col">Tên</th>
                  <th scope="col">Giá</th>
                  <th scope="col">Số Lượng</th>
                  <th scope="col">Tổng Tiền</th>
                </tr>
              </thead>
              <tbody>
                <!-- Lặp qua các sản phẩm trong giỏ hàng -->
                <tr *ngFor="let item of cartItems$ | async">
                  <th scope="row">
                    <div class="d-flex align-items-center mt-2">
                      <img
                        [src]="item.image"
                        class="img-fluid rounded-circle"
                        style="width: 90px; height: 90px"
                        alt=""
                      />
                    </div>
                  </th>
                  <td class="py-5">{{ item.name }}</td>
                  <td class="py-5">{{ item.price | currency : " " }}</td>
                  <td class="py-5">{{ item.quantity }}</td>
                  <td class="py-5">
                    {{ item.price * item.quantity | currency : " " }}
                  </td>
                </tr>

                <tr>
                  <th scope="row"></th>
                  <td class="py-5"></td>
                  <td class="py-5"></td>
                  <td class="py-5">
                    <p class="mb-0 text-dark py-3">Tổng :</p>
                  </td>
                  <td class="py-5">
                    <div class="py-3 border-bottom border-top">
                      <p class="mb-0 text-dark">
                        <!-- Tính tổng số tiền -->
                        {{
                          calculateTotal(cartItems$ | async) | currency : " "
                        }}
                      </p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div
            class="row g-4 text-center align-items-center justify-content-center pt-4"
          >
            <button
              type="button"
              class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary"
              [disabled]="checkoutForm.invalid || isSubmitting"
              (click)="placeOrder()"
            >
              Đặt Hàng
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
